@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");

$ff-heading: "Bellefair", serif;
$ff-copy: "Barlow", sans-serif;
$ff-special: "Barlow Condensed", serif;

// font-sizes calculated with https://utopia.fyi/type/calculator/

@mixin heading-1 {
	font-family: $ff-heading;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1;

	font-size: 5rem;
	font-size: clamp(5rem, 0.77rem + 18.04vw, 9.375rem);
}

@mixin heading-2 {
	font-family: $ff-heading;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1;

	font-size: 3.5rem;
	font-size: clamp(3.5rem, 2.53rem + 4.13vw, 6.25rem);
}

@mixin heading-3 {
	font-family: $ff-heading;
	font-weight: 400;
	font-size: 3.5rem;
	text-transform: uppercase;
}

@mixin heading-4 {
	font-family: $ff-heading;
	font-weight: 400;
	text-transform: uppercase;

	font-size: 1.25rem;
	font-size: clamp(1.25rem, 0.53rem + 3.09vw, 2rem);
}

@mixin heading-5 {
	font-family: $ff-special;
	font-weight: 400;
	text-transform: uppercase;

	letter-spacing: 0.16875rem;
	letter-spacing: clamp(0.16875rem, 0.12rem + 0.19vw, 0.295rem);

	font-size: 1rem;
	font-size: clamp(1rem, 0.74rem + 1.13vw, 1.75rem);
}

@mixin subheading-1 {
	font-family: $ff-heading;
	font-weight: 400;
	font-size: 1.75rem;
	text-transform: uppercase;
}

@mixin subheading-2 {
	font-family: $ff-special;
	font-weight: 400;
	font-size: 0.875rem;
	letter-spacing: 0.1475rem;
	text-transform: uppercase;
}

@mixin nav-1 {
	font-family: $ff-special;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.16875rem;
	text-transform: uppercase;
}

@mixin nav-2 {
	font-family: $ff-special;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 0.875rem;
	font-size: clamp(0.875rem, 0.76rem + 0.51vw, 1rem);
	letter-spacing: 0.1475;
	letter-spacing: clamp(0.1475rem, 0.13rem + 0.09vw, 0.16875rem);
}

@mixin body {
	font-family: $ff-copy;
	font-weight: 400;

	font-size: 0.9375rem;
	font-size: clamp(0.9375rem, 0.87rem + 0.28vw, 1.125rem);

	line-height: 1.5625rem;
	line-height: clamp(1.5625rem, 1.41rem + 0.66vw, 2rem);
}
